*,
*:before,
*:after {
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 29% 34% 34%;
  grid-template-rows: 59% 39%;
  column-gap: 1%;
  row-gap: 1%;
  height: 100vh;
  width: 100vw;
}

.score-board {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  justify-self: stretch;
  background-color: red;
}

.video-player {
  grid-column: 2 / 4;
  grid-row: 1 / 2;
  justify-self: stretch;
  background-color: blue;
  display: grid;
  grid-template-columns: 35% 65%;
  grid-template-rows: 35% 65%;
}

.guess-board {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  justify-self: stretch;
  background-color: limegreen;
}

.chat-board {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  justify-self: stretch;
  background-color: yellow;
}

.guess-board,
.chat-board {
  display: grid;
  grid-template-columns: 5% 90% 5%;
  grid-template-rows: 5% 10% 65% 10% 5%;
}

/*
---------------------------------------------------

Shrouded Modal, also need to set styling within the .modal-bg
style={{ backgroundColor: 'rgba(0,0,0, 0.85)' }}

---------------------------------------------------
*/

.modal-bg {
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  position: fixed;
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.modal-shroud {
  margin-top: 10vh;
  width: auto;
  max-height: 74vh;
  overflow: auto;
}

.login {
  background-color: white;
  display: inline-block;
  padding-left: 3vw;
  padding-right: 3vw;
  padding-top: 3vh;
  padding-bottom: 3vh;
}

/*
---------------------------------------------------

Chat Boxes
  grid-template-columns: 5% 90% 5%;
  grid-template-rows: 5% 15% 65% 10%;

---------------------------------------------------
*/
.chat-header,
.guess-header {
  grid-column: 2 / 3;
  grid-row: 2/3;
  font-size: 1.5em;
  font-weight: bold;
}

.chat-body,
.guess-body {
  overflow-y: auto;
  background-color: white;
  grid-column: 2 / 3;
  grid-row: 3/4;
}

.chat-footer,
.guess-footer {
  overflow-y: auto;
  background-color: white;
  grid-column: 2 / 3;
  grid-row: 5/6;
  overflow: visible;
  background-color: inherit;
}

.my-guess,
.my-message {
  background-color: lightsteelblue;
  font-weight: bold;
}

.submit {
  align-self: right;
}

.field {
  width: 85%;
}

.message-meta,
.guess-meta {
  font-weight: normal;
}

.user-video {
  z-index: 1;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  justify-content: stretch;
  overflow: hidden;
  height: 100%;
}

.actor-video {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
  justify-content: stretch;
  overflow: hidden;
  height: 100%;
  justify-self: stretch;
}

.answer {
  grid-column: 2/3;
  grid-row: 2/4;
  justify-self: center;
}
